@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  background: #eee;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* #columns {
	text-align:center;
} */

.map ul .area{
    list-style:none;
    margin:0;
    padding:0;
}

.map li {
    margin: 0 0 0 0;
    padding: 10px;
    border : 0;
    float: left; 
}


.map li:hover{
  color:#9dc92a
}


#pin-align {
  text-align:center;
}
.pinGridWrapper {
  width: 98%;
  margin: auto;
}
.pinGridWrapper h1 {
  font-size: 2.0em;
  padding: 20px 0 20px 0;
  text-align: center;
}
.pinGrid {
  -webkit-column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-count: 2;
  -moz-column-gap: 15px;
  column-count: 2;
  column-gap: 15px;
}
.pin {
  display: inline-block;
  background: #fff;
  border: 2px solid #fcfcfc;
  border-radius: 10px;
  -webkit-box-shadow: 0 6px 6px -6px #ccc;
  -moz-box-shadow: 0 6px 6px -6px #ccc;
  box-shadow: 0 6px 6px -6px #ccc;
  margin: 10px 0 10px 10px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  width: 300px;
  max-width: 100%;
}

.pin:hover{
  opacity: 0.4;
}

.pin ul{
	  list-style:none;
    margin:0;
    padding:0;
}

.pin li{
    margin: 0 0 0 0;
    padding: 10px;
    border : 0;
    float: left; 
}

.pin li img{
   width: 30px;
   height: 30px;
   border-radius: 30px;
   float: left; 
}

.pin img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.pin h2 {
  font-size: 1.2em;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align:left;
}
.pin p {
  padding: 10px 10px 0px 10px;
  color: #333;
  text-align:left;
}

.pin p.tag {
  padding: 10px;
  color: #d2c999;
  font-size: 6px;
  text-align:left;
}

.colorbar {
	width: 100%;
/* 	heigth: 10px;
	margin: 10px; */
	padding: 30px;
	background-color:#9dc92a;
	border-radius: 5px;

}




#exTab1 .tab-content {
  color : white;
  background-color: #9dc92a;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #9dc92a;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #9dc92a;
  padding : 5px 15px;
}













@media (min-width: 580px) {
.pinGrid {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
}  
 @media (min-width: 870px) {
.pinGrid {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}
}
 @media (min-width: 1160px) {
.pinGrid {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
}
}
 @media (min-width: 1450px) {
.pinGrid {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
}
}
